<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>   
	<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
	<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">




    <!-- Custom styles for this template go here -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon -->
    
    
    <!-- Stylesheets -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    

 


	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="shortcut icon" type="image/x-icon" sizes="32x32" href="/favicon-32x32.png">
	<link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="myIcon.ico" />
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="theme-color" content="#ffffff">


  </head>
  <body>
	<!-- Main jumbotron for a primary marketing message or call to action -->
		<nav id="nav" class="navbar fixed-top navbar-expand-sm" data-spy="affix">
    <div class="container">
     <a class="navbar-brand">Cornato Vella</a>
        <a class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">☰</a>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav">
            </ul>
            <ul class="ml-auto navbar-nav">
                
                <a href="mailto:cornatov@buffalo.edu" button class="btn btn-outline-primary text-info">Say Hello!</a></button>
                
            </ul>
        </div>
    </div>
</nav>
	<div class="jumbotron jumbotron-fluid">


		<div class="container">
		<div class="row">

	    <div class="col-md-12">
			<h1 class="display-4">Mechanical/Software engineer & aspiring Entrepreneur</h1>
			<p class="lead"><strong>I enjoy simplifying complicated problems through web design, algorithms and prototypes</strong></p>
		</div> <!-- closes col -->

		<div class="col-md-12">
		<div class="movepic">
		<div class="propic"></div>
		</div> <!-- closes movepic -->
		</div> <!-- col -->

		</div><!-- /container -->
	</div> <!-- col -->
    </div> <!-- row -->
	</div><!-- /jumbotron -->

	<div class="container">
	  <div class="row">
	    <div class="col-sm-12">
<div class="titles">Hello, My name is Ronnie</div>
<div class="paras"><p>While working as an airworthiness engineer for General Atomics, a defense company, I enrolled in a web development boot camp and rediscovered my love of coding and problem solving. I enjoy creating physically and virtually (coding and 3D modeling). I also enjoy thinking up of inventions to real world problems such as pollution and alternative energy sources. I hope to have my own startup one day.</p></div> <!-- paras -->
	    </div> <!-- col -->
<div class="col-sm-12">
<div class="titles">My Skills:</div>
<p><center><i class="fab fa-html5 fa-5x" style="padding-left:10px;color:orange"></i><i class="fab fa-sass fa-5x" style="padding-left:10px;color:pink"></i><i class="fab fa-css3-alt fa-5x" style="padding-left:10px;color:blue"></i> <i class="fab fa-github fa-5x" style="padding-left:10px;"></i></p></center> 
<p><center><i class="devicon-ruby-plain-wordmark colored fa-5x" style="padding-left:10px;"></i> <i class="devicon-rails-plain-wordmark colored fa-5x" style="padding-left:10px;"></i> <i class="devicon-python-plain-wordmark colored fa-5x" style="padding-left:10px;"></i> <i class="devicon-mysql-plain-wordmark colored fa-5x" style="padding-left:10px;"></i></p></center> 




</div> <!-- col -->
	</div> <!-- row -->
</div> <!-- container -->

<div class="titles">Below are some engineering projects I worked on:</div>

<div class="row">
    

<div class="col-md-4 col-xs-12">
    <a href="http://grow.buffalo.edu/"><div class="module1 top" data-toggle="tooltip" data-placement="bottom" title="Selected as 1 of 20 schools to participate in a DOE national sustainable house competition">
    <h1>University at Buffalo's Solar Decathlon</h1>
    </div></a>
</div> <!--col-->


<div class="col-md-4 col-xs-12">
    <a href="https://www.buffalo.edu/ubnow/campus/campus-host-page.host.html/content/shared/university/news/ub-reporter-articles/stories/2015/05/microgravity.detail.html"><div class="module2 top" data-toggle="tooltip" data-placement="bottom" title="Design and build a specimen grabber for astronauts that utilizes singlehanded operations">
    <h1>NASA Micro-G Next</h1>
    </div></a>
</div> <!--col-->





<div class="col-md-4 col-xs-12">
  <a href="https://ubnl.space/"><div class="module3 top" data-toggle="tooltip" data-placement="bottom" title="To design and build a small satellite ‘GLADOS’ to track space debri">
  <h1>University at Buffalo's NANOSAT</h1>
  </div></a>


</div> <!--col-->


</div>    
<!--row-->
<div class="titles">The following are websites I made:</div>

<<div class="row">
    

<div class="col-md-3 col-xs-12">
    <a href="https://cornatoron.herokuapp.com/"><div class="module4 top" data-toggle="tooltip" data-placement="bottom" title="My first website portfolio I made last year">
    <h1>My old Portfolio</h1>
    </div></a>
</div> <!--col-->


<div class="col-md-3 col-xs-12">
  <a href="https://bikesanfran.herokuapp.com/"><div class="module5 top" data-toggle="tooltip" data-placement="bottom" title="Online bike store that uses Stripe api to purchase products">
  <h1>A bike Ecommerce store</h1>
  </div></a>
</div> <!--col-->





<div class="col-md-3 col-xs-12">
  <a href="https://cloudclo2.herokuapp.com/"><div class="module6 top" data-toggle="tooltip" data-placement="bottom" title="The Uber of clothing. Side project with friend.">
  <h1>A startup idea landing page, Vestir</h1>
  </div></a>
</div> <!--col-->


<div class="col-md-3 col-xs-12">
  <a href="http://solardronekite.com/"><div class="module7 top" data-toggle="tooltip" data-placement="bottom" title="My own side project that needs more funding">
  <h1>Search and rescue Solar Drone</h1>
  </div></a>
  </div> <!--col-->
</div> <!-- row -->


<<div class="row">
<div class="col-md-12 col-xs-12">
<div class="titles">Below is some Python 3.6 script:</div>
</div> <!-- col -->
<div class="col-md-12 col-xs-12">
<code># https://www.rithmschool.com/blog

import requests 
# we need tomake a request to the website above
from bs4 import BeautifulSoup 
# We use bs4 in order to scrap the html
from csv import writer
# this allows us to extract and read scripts and write them/store to a new file

response = requests.get("https://www.rithmschool.com/blog")

# This grabs the website

# print(response.text)
# # This grabs the HTML of the specific webpage we input into get

soup = BeautifulSoup(response.text, "html.parser")
articles = soup.find_all("article")
# In order to find all the article tages which coontain the titles

with open("blogdata.csv", "w") as csv_file:
# This records all the data we scraped from the website into a new document that we are writting "w"
	csv_writer = writer(csv_file)
	csv_writer.writerow(["Title", "source", "Date"])
	for article in articles:
		a_tag = article.find("a")
		title = a_tag.get_text()
		url = a_tag["href"]
		date = article.find("time")["datetime"]
		csv_writer.writerow([title, url, date])</code>
</div> <!-- col -->

<div class="col-md-12 col-xs-12">
<div class="titles">Here is some of my employment history:</div>
</div> <!-- col -->
<div class="container"><center>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Click for Resume</button></center>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class='col-12 modal-title text-center'>Cornato Vella Resume</h4>
        </div>
        <div class="modal-body">
         <iframe src="https://drive.google.com/file/d/1L7idNTDYwApCQEUZ46A9uP5IjBHD-Gld/preview" width="100%" height="480"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
</div>

<div class="titles">Like what you see? Let's connect!</div>

	    	<div id="contact">
  <div class="container">

    <div class="row">
      <div class="col-md-12 col-xs-12">

        
          <div class="contact">Mobile:  <i class="fa fa-phone"> </i>  (347)-963-0048</a></div>
          <div class="contact">Email:  <i class="fa fa-envelope"> </i> cornatov@buffalo.edu</div>
          <div class="contact"><a class="devicon-facebook-plain colored fa-5x" href="https://www.facebook.com/cornatov"></a>
          <a class="devicon-github-plain colored fa-5x" href="https://github.com/cornatov"></a>
          <a class="fab fa-linkedin fa-5x" href="https://www.linkedin.com/in/cornatov/"></a></div>



      
    
		</div><!-- /col -->
	    
	  </div><!-- /row -->
	</div> <!-- /container -->


    <!-- ============================= -->
    <!-- All your JavaScript comes now -->
    <!-- ============================= -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>