<header role="banner" id="devdap-header">
		<div class="fluid-container">
			<nav class="navbar navbar-default navbar-fixed-top js-fullheight">
				<div id="navbar" class="navbar-collapse js-fullheight">
					<ul class="nav navbar-nav navbar-left">
						<li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
						<li><a href="#" data-nav-section="services"><span>Services</span></a></li>
						<li><a href="#" data-nav-section="team"><span>Team</span></a></li>
					</ul>
				</div>
			</nav>
	  </div>
</header>
<section id="devdap-home" data-section="home" class="main-back" data-stellar-background-ratio="0.5">
<div class="gradient"></div>
<div class="container">
    <div class="text-wrap">
        <div class="text-inner">
            <div class="row">
                <div class="col-md-8  text-center">
                    <h2><strong><a href="" class="typewrite" data-period="2000" data-type='[ "Self-Sustaining", "Autonomous", "Search & Detect kite Drones", "SEARCHING NONSTOP!" ]'>
                    <span class="wrap"></span>
                    </a></h2>
                    <p><a href="https://docs.google.com/presentation/d/e/2PACX-1vT18UDRpu-jiJH4OSoVUPob87kFHxgsk999lGM55_dmzsDzIWV2He2mZXAVaEIvSt368yqf3fco2SHv/pub?start=false&loop=false&delayms=3000&slide=id.p" class="btn to-animate btn-primary">Find out more!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section id="devdap-services" data-section="services">
<div class="devdap-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Solar powered search and rescue drone Hope Mark 1 features</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext">
                        <h3 class="to-animate"> Without the need for refueling nor piloting, the drone's computer vision software does the finding for you</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="core-features">
                
                <div class="grid2">
                    <div class="core-f">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="core">
                                    <i class="fa fa-camera to-animate-2"></i>
                                    <div class="devdap-post to-animate">
                                        <h3>Structure</h3>
                                        <p>Flexable carbon fiber rods, with a tough all-weather solarcells inbedded fabric </p>
                                    </div>
                                </div>
                                <div class="core">
                                    <i class="fa fa-cog to-animate-2"></i>
                                    <div class="devdap-post to-animate">
                                        <h3>Configuration</h3>
                                        <p>Thermal and day/night 360 rotaional camera </p>
                                    </div>
                                </div>
                                <div class="core">
                                    <i class="fa fa-compass to-animate-2"></i>
                                    <div class="devdap-post to-animate">
                                        <h3>Propulsion</h3>
                                        <p>with its lightweight and large wingspan configuration, one parkflyer brushless motor powers this drone</p>
                                    </div>
                                </div>
                                <div class="core">
                                    <i class="fa fa-battery-full to-animate-2"></i>
                                    <div class="devdap-post to-animate">
                                        <h3>Battery</h3>
                                        <p>Multi battery and supercapaciters line the bottom of the fuslage, powering the drone for day and night while also helping it maintin stability</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid2 to-animate features-back" >
                </div>
            </div>
        </div>
        
    </div>
</div>
</section>


<section id="devdap-team"  data-section="team">
<div class="devdap-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Our Awesome Team! </h2>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="team-box text-center to-animate-2">
                    <div class="user">
                    <%=image_tag("team/t1.jpg", alt: "")%>
                    </div>
                    <h3>Cornato R Vella</h3>
                    <span class="position">Chief Executive Officer/Co-Founder</span>
                    
                    <ul class="social-media">
                    <li><a href="https://www.linkedin.com/in/cornatov/" class="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/CornatoVella" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://github.com/cornatov" class="github"><i class="fa fa-github-alt"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <div class="team-box text-center to-animate-2">
                    <div class="user">
                        <%=image_tag("team/t2.jpg", alt: "")%>
                    </div>
                    <h3>Blaze Sanders</h3>
                    <span class="position">Chief Technology Officer/Co-Founder</span>
                    
                    <ul class="social-media">
                    <li><a href="https://www.linkedin.com/in/blaze-sanders-88054021/" class="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="www.twitter.com/BlazeDSanders" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="www.github.com/OpenSourceIronman" class="github"><i class="fa fa-github-alt"></i></a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</div>
</section>

<div class="getting-started getting-started-1">
<div class="getting-grid getting-started-back">
    <div class="desc text-center">

    </div>
</div>
</div>