<div id="devdap-footer" role="contentinfo">
		<div class="container">
			<div class="row">
				<div class="col-md-6 to-animate">
					<h3 class="section-title">About Us</h3>
					<p>Previously a Robotics Engineer at NASA & SpaceVR, Blaze Sanders has deep hands on expertise with embedded and high power systems. As Senior Electrical Engineer at Meta Company, Blaze brought the Meta 2 Augmented Reality HMD from TRL 2 to 7. Cornato Vella was previously an Airworthiness engineer at General atomics working on the certification of drones such as Predator B. Additionally, Cornato was 1 of 7 leaders in the Solar Decathlon, a competition to design, build and test a solar powered house and has also worked on NASA’s MicroG Next and University at Buffalo’s Nanosat project while at school. </p>
					<p class="copy-right">&copy; Solar Drone Kites <br>All Rights Reserved. <br>
						Template Designed by <a href="http://devdap.com/" target="_blank">devdap.com</a>
						
					</p>
				</div>

				<div class="col-md-6 to-animate">
					<h3 class="section-title">Connect with Us</h3>
					<ul class="contact-info">
						<li><i class="fa fa-envelope"></i><a href="#">founders@solardronekite.com</a></li>

					</ul>
				</div>
				
			</div>
		</div>
	</div>